@using NytWeb.Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime js
@inject IUserService UserService
@inject IAuthService AuthService
@inject IDialogService DialogService
<MudContainer Height="90%" Elevation="0" MaxWidth="MaxWidth.Small" Width="80%" >
    <MudStack Spacing="5" Row="false" Width="75%">
        <h1 class="appbar">Nyt!</h1>
        <MudFab DisableElevation="true" StartIcon="@Icons.Material.Outlined.Home" OnClick="@(async () => AuthenticateInstagram())" MudBlazor.Size="Size.Small" Color="Color.Secondary" Rel="nofollow" Label="Hjem" Width="75%"/>
        <MudFab DisableElevation="true" StartIcon="@Icons.Material.Outlined.Search" MudBlazor.Size="Size.Small" Color="Color.Secondary" Label="Søg Nyt" Width="75px"/>
        <MudFab DisableElevation="true" StartIcon="@Icons.Material.Outlined.MailOutline" MudBlazor.Size="Size.Small" Color="Color.Secondary" Label="Beskeder" Width="75%"/>
        <MudFab DisableElevation="true" StartIcon="@Icons.Material.Outlined.MeetingRoom" Color="Color.Secondary" Label="Lokaler" Width="75%"/>
        <MudFab DisableElevation="true" StartIcon="@Icons.Material.Outlined.Create" OnClick="@(async () => GoToProfile())" Color="Color.Secondary" Label="Nyt Skaber" Width="75%"/>
        <MudFab DisableElevation="true" StartIcon="@Icons.Material.Outlined.Bookmarks"  Color="Color.Secondary" Label="Bogmærker" Width="75%"/>
        <MudFab DisableElevation="true" StartIcon="@Icons.Material.Outlined.Person" OnClick="@(async () => GoToProfile())" Color="Color.Secondary" Label="Profil" Width="75%"/>
        <MudFab StartIcon="@Icons.Material.Filled.PostAdd" OnClick="@((e) => OpenPostCreator())" DisableElevation="true" Color="Color.Info" Label="Skab Nyt" Width="75%"/>
        <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                                Icon="@Icons.Material.Outlined.WbSunny" Color="@Color.Warning" Title="Off" 
                                ToggledIcon="@Icons.Material.Outlined.DarkMode" ToggledColor="@Color.Primary" ToggledTitle="On" />
    </MudStack>
</MudContainer>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private bool collapseNavMenu = true;

    

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private MudTheme _theme = new();
    private bool _isDarkMode;

    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    } 

    private async Task GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task AuthenticateInstagram()
    {
        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = false };

        var dialog = await DialogService.ShowAsync<AuthInsta>("", options);
        var result = await dialog.Result;
        
    }

    private async Task GoToProfile()
    {
        NavigationManager.NavigateTo("/profile");
    }
    
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/", true);
    }

    async Task OpenPostCreator()
    {
        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = false };

        var dialog = await DialogService.ShowAsync<UserPost>("", options);
        var result = await dialog.Result;
    }
}