@using NytWeb.Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime js
@inject IUserService UserService




    <MudPaper Height="40px" Elevation="0"/>
    <h1 class="appbar">Nyt!</h1>
    <MudPaper Height="40px" Elevation="0"/>
    <MudFab DisableElevation="true" StartIcon="@Icons.Material.Filled.Home" Size="Size.Large" Color="Color.Secondary" Label="Hjem" Width="124px" />
    <MudPaper Height="40px" Elevation="0"/>
    <MudFab DisableElevation="true" StartIcon="@Icons.Material.Filled.Search" Size="Size.Large" Color="Color.Secondary" Label="Søg Nyt" Width="124px"/>
    <MudPaper Height="40px" Elevation="0"/>
    <MudFab DisableElevation="true" StartIcon="@Icons.Material.Filled.MailOutline" Size="Size.Large" Color="Color.Secondary" Label="Beskeder" />
    <MudPaper Height="40px" Elevation="0"/>
    <MudFab DisableElevation="true" StartIcon="@Icons.Material.Filled.Bookmark"  Color="Color.Secondary" Label="Bogmærker" />
    <MudPaper Height="40px" Elevation="0"/>
    <MudFab DisableElevation="true" StartIcon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" Label="Bookmark" />
    <MudPaper Height="40px" Elevation="0"/>
    <MudFab DisableElevation="true" StartIcon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" Label="Bookmark" />
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private MudTheme _theme = new();
    private bool _isDarkMode;

    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    } 
    
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/", true);
    }
}

@code {
    private MudTheme Theme = new MudTheme();
}